.App {
  height:98vh;
  overflow: hidden;
}

.login-card {
  max-width: 400px;
  margin-top: 15%;
  margin-left: 35%;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
@media (max-width: 700px) {
  .login-card {
    margin-top: 2rem;
    margin-left: 2rem;
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .login-card {
    margin-top: 2rem;
    margin-left: 2rem;
    max-width: 100%;
  }
}
